@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

.playfair-display-headline {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.plus-jakarta-sans {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.plus-jakarta-sans-italic {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: italic;
}

:root {
  --primary: #e0afa0;
  --hover: #d49484;
  --secondary: #6c757d;
  --bgcolor: #f8f9fa;
  --regtext: #333333;
  --hitext: #d2b48c;
}

/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

/* Body Styles */
body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: Helvetica, Arial, system-ui;
  line-height: 1.5;
  background: linear-gradient(to bottom, var(--bgcolor), #ececec);
}

h2 {
  margin: 15px;
  color: var(--bgcolor);
  background-color: var(--primary);
  padding: 15px;
  width: 13rem;
  border-radius: 12px;
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

ul {
  display: flex;
  gap: 10px;
  list-style-type: none;
  justify-content: center;
}

button {
  background-color: var(--primary);
  color: white;
  font-size: clamp(0.5rem, 1.2rem, 45rem);
  font-weight: bold;
  width: 6rem;
  height: 3rem;
  border-style: none;
  cursor: url("./images/cursor-odin-project-resto.png"), auto;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

button:hover {
  background-color: var(--hover);
  transform: translateY(-2px);
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
}

h3,
p {
  color: var(--regtext);
}

.logo {
  position: absolute;
  top: 1%;
  left: 1%;
  width: 200px;
  height: auto;
}

.logo:hover {
  filter: invert(77%) sepia(23%) saturate(379%) hue-rotate(315deg)
    brightness(96%) contrast(94%);
  cursor: url("./images/cursor-odin-project-resto.png"), auto;
}

.header {
  background-color: var(--bgcolor);
  margin: 1rem;
}

#content {
  width: 60vw;
  margin: 1rem;
  background-color: var(--bgcolor);
}

.box {
  display: flex;
  gap: 10px;
  margin: 10px;
  padding: 10px;
  cursor: url("./images/cursor-odin-project-resto.png"), auto;
  border: 1px solid var(--secondary);
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.box:hover {
  transform: scale(1.02);
  border: 1px solid var(--hover);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.box:hover h3 {
  color: var(--hitext);
}

.box-img {
  width: 30%;
  max-width: 300px;
  height: auto;
}

.testimony-box {
  gap: 10px;
  margin: 10px;
  padding: 10px;
  border: 1px solid var(--secondary);
  border-radius: 10px;
  background-color: var(--primary);
  color: var(--bgcolor);
}

.general-box {
  margin: 10px;
  padding: 10px;
  border: 1px solid var(--secondary);
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.general-box img {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
}

.general-box h3,
.general-box p {
  /* margin: auto; */
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
}

.footer {
  width: 60vw;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
